.alert {
    display: flex;
    font-size: 12px;
    position: relative;
}

.success {
    color: #254F22;
    background-color: #DAF9DE;
    width: 50%;
    height: 70px;
    border-left: 5px solid #254F22;
    border-radius: 5px;
}

.error {
    color: #C00707;
    background-color: #FFB2B2;
    width: 60%;
    height: 70px;
    border-left: 5px solid #C00707;
    border-radius: 5px;
}

.warning {
    color: #E87F24;
    background-color: #FFF0BE;
    width: 60%;
    height: 70px;
    border-left: 5px solid #E87F24;
    border-radius: 5px;
}

.info {
    color: #3852B4;
    background-color: #CFECF3;
    width: 60%;
    height: 70px;
    border-left: 5px solid #3852B4;
    border-radius: 5px;
}

.close {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -25px;
    right: -90px;
}